body {
   background: #F6F6F4;
 color: #111111
}
nav {
background: #FACB37;
color: #111111
border: 6px solid #111111;
}

header {
    background: #3153d1;
    color: #F6F6F4;
    border: 6px solid #111111;
}
img {
    width: 420px;
    height: 260px;
    border: 6px solid #F6F6F4;
}
h1 {
    color: #FACB37;
}
aside {
    background: #d83134;
    color: #F6F6F4;
    border: 6px solid #111111;
}
